body {
    font-family: sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    margin-top: 100px;
}

button {
    padding: 14px 25px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #0088cc;
    color: white;
    cursor: pointer;
}